<p>Welcome to <%= Spree::Config[:site_name] %>!</p>

<p>Please confirm your your email address by clicking on the link below:</p>

<p><%= link_to user_confirmation_url(@user.confirmation_token), user_confirmation_url(@user.confirmation_token) %></p>