<% if @user.confirmed_at.nil? and @user.unclaimed_orders.present? and flash[:error].nil? %>
<div class="flash notice">
  <p><%= t("unconfirmed_account") %></p>
  <%= form_for(:user, :url => create_user_confirmation_path, :html => { :method => :post }) do |f| %>
    <p><%= f.submit t("resend_confirmation_instructions") %></p>
  <% end %>
</div>
<% end %>